# Node Modules
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Next.js
.next/
out/
.cache/
vercel/
*.tsbuildinfo

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Prisma
prisma/*.sqlite
prisma/*.sqlite-journal

# Miscellaneous
.DS_Store
Thumbs.db
.coverage
.nyc_output
.idea
.vscode/*.code-workspace
.vscode/*.sqlite
.vscode/*-update.SESSION_ID.vsdx

# Logs
logs
*.log

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Report files (if any)
*.report